anndata
ConfigArgParse
h5py
leidenalg
louvain
numba
numpy
numpy-groupies
pandas
pytest
python-dateutil
PyYAML
requests
requests-cache
requests-oauthlib
requests-toolbelt
scanpy
scikit-learn
scikit-misc
scipy
six
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post2
tensorboardX==2.1
torch==1.4.0
torchvision==0.5.0
tqdm
umap-learn
urllib3
